* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* common styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fcfbfb;
}

header{
    width: 1321px;
    height: 646px;
    display: flex;
    justify-content: space-between;
    background: #161616;
    border-radius: 30px;
    margin: 50px auto;
    gap: 50px;
}

h1{
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    line-height: 80px;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

header img{
    width: 100%;
    padding: 33px 80px 0px 24px;
}

main{
    width: 1321px;
    display: flex;
    margin: 0 auto;
}

/* Header Section Style */
.home-container{
    padding: 111px 0px 0px 106px;
    color: white;
}

.description {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    padding: 20px 0px 30px;
}

.Watch-btn{
    width: 160px;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 25px;
    gap: 10px;
    background: #DD0000;
    border-radius: 5px;
}

/* Side-Bar Section */
aside{
    display: flex;
    flex-direction: column;
    width: 27%;
    height: max-content;
    padding: 30px;
    background: #161616;
    border-radius: 10px;
    row-gap: 30px;
}

.sidebar-links{
    text-decoration: none;
    text-align: center;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 30px;
    color: #161616;
}

/* Blogs Section */
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;
    gap: 24px;
}
.blog{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.blog img{
    width: 100%;
}
.blog-details{
    padding: 15px;
}
.blog-link{
    display: inline-block;
    text-decoration: none;
    color: #161616;
    background-color: white;
    border: 1px solid #161616;
    border-radius: 5px;
    padding: 3px 7px;
    margin-bottom: 15px;
}
.blog-info{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
}
.blog-info p{
    color: #161616;
    padding: 15px 0px 10px;
}
.blog-info span{
    padding-left: 10px;
}

/* Upcoming matches section */
.upcoming-matches{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin:0px 20px;
    flex: 3;
}

.match{
    padding: 22px 26px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.20);
}

.match .team-flags{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-flags img{
    width: 30%;
}

.team-flags p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #161616;
    font-weight: 600;
}

.team-name {
    color: #161616;
    font-weight: bold;
    margin: 20px 0 10px;
}

.match-time{
    font-size: 14px;
    color: #161616;
}

/* footer styles */
footer{
    padding: 60px 0;
    margin-top: 60px;
    text-align: center;
    color: white;
    background-color: black;
}

footer hr{
    width: 70%;
    margin: 40px auto;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

footer ul{
    display: flex;
    justify-content: center;
    gap: 40px;
}

footer ul li{
    list-style: none;
}

.footer-link{
    text-decoration: none;
    color: white;
}

footer h3{
    font-size: 25px;
    margin: 50px 0 30px;
}

.footer-icons a{
    display: inline-block;
    position: relative;
    padding: 20px;
    font-size: 24px;
    color: #ffffffe6;
    border: 2px solid white;
    border-radius: 50%;
    margin: 10px;
}

.footer-icons .fa-brands{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


